div.container {
    width: 100%;
    border: 1px solid  rgb(253, 148, 116); 
    }
footer {
    padding: 1em;
    color: white;
    background-color: rgb(177, 105, 46); 
    text-align: center; 
    position: absolute;
    width: 1302px;
    }
nav {
    float: left; 
    width: 160px;
    margin: 0;
    padding: 1em;
    height: 635px;
    background-color: rgb(235, 186, 130);
    }
nav ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: rgb(197, 140, 86);
        height: 175px;
        width: 130px;
        }
nav ul a {
        text-decoration: none;
        color: white;
        }
nav ul a:hover{
        background-color: rgb(233, 186, 111);
        color: rgb(175, 97, 52);
        }
article {
        margin-left: 170px;
        border-left: 1px solid rgb(235, 186, 130);
        padding: 1em;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(78, 41, 7);
        height: 100%;
        }
body{
    background-color: rgb(201, 152, 111);
    }
    .produk
    {
        width: 880px;
        margin: 35px auto;
        background-color: white;
        padding: 20px;
        overflow: hidden;
    }
     
    .produk h2
    {
        color: crimson;
        border-bottom: 1px solid gainsboro;
        margin: 5px;
        margin-bottom: 13px;
    }
     
    .list-produk
    {
        border: 1px solid gainsboro;
        padding: 10px;
        float: left;
        width: 50px;
        margin: 5px;
        
    }
     
    .list-produk:hover
    {
        transition-duration: 700ms;
        box-shadow: 5px 5px gainsboro;
    }
     
    .list-produk img
    {
        width: 100%;
        height: 1250px;
        display: block;
        margin: 5px;
        margin-left:auto;margin-right:auto;display:block;width:200px;
    }
     
    .list-produk h4, .list-produk h5
    {
        color: crimson;
        text-align: center;
        margin-bottom: 5px;
    }
     
    .tombol
    {
        text-decoration: none;
        border-radius: 7px;
        padding: 7px;
        display: block;
        float: left;
        width: 20%;
        margin: 4px;
        text-align: center;
        color: white;
    }
     
    .tombol:hover
    {
        background-color: black;
        transition-duration: 500ms;
    }
.tombol-beli{
    background-color: rgb(78, 41, 7)
}
